<div class="main-title">
  <h2>{if $id}修改{else}添加{/if}进货</h2>
</div>
<div class="main-section form-inline">
  <a href="/admin/good/edit" class="btn btn-success">+ 添加新商品</a>
</div>
<div class="main-section">
  <form method="post" action="/admin/goodadd/save" class="j-form">
    <ul class="form-group form-inline">
      <li>
        <select name="psg_good_onecate_id" onchange="getCatetwo()"class="form-control" style="min-width:196px;">
          <option value="0">---</option>
          {foreach $res1 as $v}
          <option value="{$v.psco_cate_id}" >{$v.psco_cate_name} </option>
          {/foreach}
        </select>
        <label>一级分类</label>
        <select name="psg_good_twocate_id" onchange="getGood()" class="form-control" style="min-width:196px;">
          <option value="0">---</option>
          {foreach $res2 as $v}
          <option value="{$v.psct_cate_id}" >{$v.psct_cate_name} </option>
          {/foreach}
        </select>
        <label>二级分类</label>
        <select name="psg_good_id" onchange="getPrice()" class="form-control" style="min-width:196px;">
          <option value="0">---</option>
          {foreach $data as $v}
          <option value="{$v.psg_good_id}" >{$v.psg_good_name} </option>
          {/foreach}
        </select>
        <label>商品</label>
      </li>
      <li>
        <input type="text"  class="form-control" name="psg_cost_price" readonly="true" required>
        <label>价格</label>
      </li>
      <li>
        <input type="datetime-local"  class="form-control" name="psga_add_time" required>
        <label>进货时间</label>
      </li>
      <li>
        <input type="text"  class="form-control" name="psga_add_count" required>
        <label>数量</label>
      </li>
      <li>
        <input type="text"  class="form-control" name="psga_order_id" required>
        <label>单号</label>
      </li>
        <input type="hidden" name="id" value="{$id}">
        <input type="submit" value="提交表单" class="btn btn-primary">
        <a href="/admin/category/index_two" class="btn btn-default">返回列表</a>
      </li>
    </ul>
  </form>
</div>
<script>
  main.menuActive('goodadd');
  main.ajaxForm('.j-form', function () {
    main.content('/admin/goodadd/index');
  });
  function getCatetwo() {
    var id =$("[name='psg_good_onecate_id']").val();
    $.ajax({
      type:"get",
      url:"/admin/category/get_twocate",
      data: { 'id' : id } ,
      dataType:"json",
      success:function (result) {
        $("[name='psg_good_twocate_id']").children().remove();
        for (var i = 0;i< result.length;i++){
          var option = document.createElement("option"); //
          option.innerText=result[i]['psct_cate_name'];
          option.value=result[i]['psct_cate_id'];
          $("[name='psg_good_twocate_id']").append(option); // 加入option选项
        }
        getGood();
      }
    })
  }
  function getGood(){
    var id =$("[name='psg_good_twocate_id']").val();
    $.ajax({
      type:"get",
      url:"/admin/good/get_goodname",
      data: { 'id' : id } ,
      dataType:"json",
      success:function (result) {
        $("[name='psg_good_id']").children().remove();
        for (var i = 0;i< result.length;i++){
          var option = document.createElement("option"); //
          option.innerText=result[i]['psg_good_name'];
          option.value=result[i]['psg_good_id'];
          // if (i==0){
          //   option.attr('selected',ture);
          // }
          $("[name='psg_good_id']").append(option); // 加入option选项
        }
        getPrice();
      }
    })
  }
  function getPrice(){
    var id =$("[name='psg_good_id']").val();
    $.ajax({
      type:"get",
      url:"/admin/good/get_costprice",
      data: { 'id' : id } ,
      dataType:"json",
      success:function (result) {
        $("[name='psg_cost_price']").attr('value',result[0]['psg_cost_price']);
      }
    })
  }
</script>