

<div class="al">
  {if $good}
    {foreach $good as $v}
      <div class="al-each">
        <div class="al-info">
          <a href="/user/index/getgood?id={$v.psg_good_id}">{$v.psg_good_name}</a>
        </div>
        {if $v.psg_good_image}
          <div class="al-img">
            <a href="/user/index/getgood?id={$v.psg_good_id}">
              <img class="psi_img_id" data-id="{$v.psi_img_id}" src="{$v.psi_img}" alt="点击阅读文章">
            </a>
          </div>
        {/if}
        <div class="al-more">
          <span>价格：{$v.psg_sell_price} | 发表于：{$v.psg_add_time}</span>
        </div>
      </div>
    {/foreach}
  {else}
    <div class="al-message">
      该栏目内暂时没有内容。<p><a href="/">点击返回首页</a></p>
    </div>
  {/if}
</div>
<div class="pagelist">{$page_html nofilter}</div>
<style>
  .psi_img_id{
    width: 200px;
    height: 250px;
  }
</style>